<ion-content fullscreen>

  <div class="container-menu">

    <div class="titulo">
      <img
        src="assets/image/Ben10Logo.png"
        alt="Ben 10"
        class="logo-ben10">
      <p>Ta na hora de virar herói!</p>
    </div>

    <div class="opcoes">

      <div class="card-omnitrix" (click)="irParaHome()">
        <img
          src="assets/image/OmnitrixClassico.png"
          alt="Omnitrix Clássico"
          class="imagem-relogio">
        <h2>Clássico</h2>
        <p>Série Original</p>
      </div>

    </div>

  </div>

</ion-content>